<div class="container">
  <form>
      <div class="card">
          <div class="card-header text-white bg-primary">
              <h4>Estoques</h4>
          </div>
          <div class="card-body">
              <div class="row">
                  <div class="col-md-6 form-group">
                      <label for="estoqueUnidade" class="form-label">Selecione o estoque:</label>
                      <select class="form-control" name="estoqueUnidade"
                              [(ngModel)]="estoque">
                          @for(e of estoques; track e) {
                             <option value = "{{ e }}"> {{ e.unidade.nome }} </option>
                          }
                      </select>
                  </div>
              </div>
              <div class="row">
                  <div class="col-md-12 form-group">
                      <label for="btnPesquisar" class="form-label">&nbsp;</label>
                      <button type="submit" class="btn btn-primary" name="btnPesquisar"
                              (click)="pesquisar()">Pesquisar</button>
                      <label for="btnLimpar" class="form-label">&nbsp;</label>
                      <button type="submit" class="btn btn-warning"
                              (click)="limpar()">Limpar</button>
                  </div>
              </div>
          </div>
      </div>
  </form>
  <h2 class="">Estoques</h2>
  <br><br>
  <table class="table table-hover table-striped">
    <thead>
      <th>Unidade</th>
      <th>Vacina em Estoque</th>
      <th>Quantidade</th>
      <th>Data do Lote</th>
      <th>Validade</th>
      <th>Ações</th>
    </thead>
    <tbody>
      @for(estoque of estoques; track estoque){
        <tr>
          <td>{{ estoque.unidade.nome }}</td>
          <td>{{ estoque.vacina.nome }} </td>
          <td>{{ estoque.quantidade }}</td>
          <td>{{ estoque.dataLote | date: 'dd/MM/yyyy' }}</td>
          <td>{{ estoque.validade | date: 'dd/MM/yyyy' }}</td>
          <td>
            <div class="row">
              <div class="col-md-4">
                <button class="btn btn-primary btn-block" (click)="editar(estoque)">
                  <i class="bi bi-x"></i>Editar</button>
              </div>
              <div class="col-md-4">
                <button class="btn btn-danger btn-block"(click)="excluir(estoque)">
                  <i class="bi bi-x"></i>Excluir</button>
              </div>
            </div>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

