label{
  font-size: 16px;
  font-family: var(--bs-font-sans-serif);
  display: block; /* Garante que o label seja um bloco para a centralização */
  width: 100%; /* Garante que o label ocupe a largura completa do contêiner */
  text-align: center;
  font-weight: bold;
}

input, select{
  background-color: goldenrod;
  border: 1px solid
}

.campos-linha-debaixo{
  margin-top: 15px;
}

.botao{
  border: 1.5px solid black; /* Cor da borda dos botões */
}

.botao-voltar{
  background-color:cadetblue;
}


