h5{
  text-align: center;
  font-size: 30px;
  text-decoration: underline;
}

button, select, input {
  border: 1px solid black;
}

.titulo{
  font-size: 20px;
  font-weight: 500;
  font-family: var(--bs-font-sans-serif);
  display: block; /* Garante que o label seja um bloco para a centralização */
  width: 100%; /* Garante que o label ocupe a largura completa do contêiner */
  text-align: center;
}

input, select{
  background-color: goldenrod;
  margin: 10px;
}

.botao-voltar{
  font-size: 15px;
  background-color:rgb(146, 124, 124);
  font-weight: 500;
  background-color:cadetblue;
}

.botao-limpar{
  font-size: 15px;
  font-weight: 500;
  color: black;
}

.botao-consultar{
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.cidadao{
  margin: 20px;
}
